sudo: false # Use docker containers rather than VMs -> faster

language: python

python:
  - "3.5"
  - "3.6"

install:
  - sudo apt-get update -qq
  - pip install -r requirements.txt -r doc/requirements_doc.txt
  - pip install .

script:
  - make test
  - make doc
  - touch doc/_build/html/.nojekyll # Deactivate Jekyll on GitHub Pages

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b238f1b4f26967edf138 # Gitter channel
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always    # options: [always|never|change] default: always

deploy:
  project-name: reda
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_API_KEY
  keep-history: true
  local-dir: doc/_build/html
  committer-from-gh: true
  name: Reda Travis
  verbose: true
  on:
    branch: master
    condition: $TRAVIS_PYTHON_VERSION = "3.6"
